body {
background: white;
margin: 0;
padding: 0;
	 font-family: 'Lucida Sans';
}

#gamebox {
background: white;
position: absolute;
left: 10%;
margin: 0 auto;
border-color: #333333;
border-style: solid;
border-width: 1px;
}

#instructions {
	background-color: rgba(0,0,0,0.75);
color: white;
       text-align: center;
padding: 32px;
margin: 0px;
display: inline;
border: 2px solid white;
}

#level {
z-index: 2;
position: absolute;
left: 46%;
top: 0px;
padding: 4px;
color: gray;   
       font-weight: bold;
}
